BasedOnStyle: LLVM

# Indentation
ColumnLimit: 100
IndentWidth: 2
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
TabWidth: 2

# Line breaking
BreakBeforeBraces: Allman  # Always break before braces
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: InlineOnly

# Others
PointerAlignment: Left
ReflowComments: False
SortIncludes: Never
